.completed .input {
  color: rgba(255, 255, 255, 1);

  border-color: transparent;
  outline: none;
  cursor: default;
}

.edited .input,
.new .input {
  color: rgba(113, 113, 122, 1);
}

.input {
  width: 100%;
  padding: 10px;

  background-color: transparent;

  border: 1px solid rgba(65, 65, 68, 1);
  border-radius: 6px;
}

td {
  width: 200px;
  height: 60px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding: 0 12px;

  border-top: 1px solid rgba(65, 65, 68, 1);

  &:first-of-type {
    width: 110px;
  }

  &:nth-child(2) {
    width: auto
  }
}

.icon {
  cursor: pointer;
  z-index: 10;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 6px;

  background-color: rgba(65, 65, 68, 1);
  border-radius: 6px;
}