@import "./reset";

body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    > #root {
        height: inherit;
        width: inherit;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(32, 33, 36, 1)
    }
}

main {
    display: flex;
    align-items: flex-start;
}
