.container {
  height: 90%;

  flex-grow: 1;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: rgba(161, 161, 170, 1) transparent; 
}

.table {
  width: 100%;

  margin: 0 10px;

  border-collapse: collapse;
}

.title {
  padding: 12px 15px;

  font-weight: 400;

  border-top: 1px solid rgba(65, 65, 68, 1);
  border-bottom: 1px solid rgba(65, 65, 68, 1);

  text-align: left;
}

th {
  padding: 12px;

  color: rgba(161, 161, 170, 1);
  text-align: left;
}